<!doctype html>
<html ng-app="component2App">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>component2 App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="author" href="humans.txt">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  </head>
  <body>
    <div ng-controller="component2Ctrl">
      <h1>component2</h1>
      <p>{{message}}</p>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>