nav.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		nav.navbar-header
			a.nav-logo
				img(src="http://placehold.it/328x29",width="328",height="29")
			a.navbar-brand
		#myNavbar.collapse.navbar-collapse